<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Music Page</h1>
    <form th:action="@{/musics/play}">
        <input type="submit" value="음악 재생">
    </form>

    <form th:action="@{/musics/menu}">
        <input type="submit" value="메뉴 보기">
    </form>

    <form th:action="@{/musics/record}">
        <input type="submit" value="음성 녹음">
    </form>

    <form th:action="@{/musics/test}">
        <input type="submit" value="테스트">
    </form>

    <form th:action="@{/musics/titles}">
        <input type="submit" value="리스트 보기">
    </form>

    <form th:action="@{/musics/artists}">
        <input type="submit" value="해쉬맵 보기">
    </form>

    <form th:action="@{/musics/resptest}">
        <input type="submit" value="Void 응답 확인하기">
    </form>
<!-- F12 누르고 Network 들어가서 Ctrl+R 누르면 상태 볼 수 있
- Status code는 URL을 처리했을 때 HTTP 상태가 어떤지 알려줌. (404, 500, 200 등)
- jsonify하는 것은 ResponseEntity가 하는 역할!
- Restcontroller에서는 json형태. 하지만 http는 핸들링할 수 없으니까 ModelAndView
- Controller에서는 http는 핸들링 할 수 있지만, jsonify (데이터 주고받을 때 json 형태 받아오는 것)이 불가능하기 때문에, ResponseEntity를 해줘야 하는 것.
-->

    <form th:action="@{/musics/respstring}">
        <input type="submit" value="String 응답 확인하기">
    </form>

    <form th:action="@{/musics/respclass}">
        <input type="submit" value="Class 응답 확인하기">
    </form>

    <!-- 리스트 보기와 List 응답 확인하기는 같은 결과를 보여줌. -->
    <form th:action="@{/musics/resplist}">
        <input type="submit" value="List 응답 확인하기">
    </form>

    <form th:action="@{/musics/respfile}">
        <input type="submit" value="File 응답 확인하기">
    </form>


</body>
</html>